@model IEnumerable<Lab4Buzowicz.Models.Student>

    <h3>Visible students:</h3>
    <ul>
        @foreach(var student in Model)
    {
        <li>@student.imie  @student.nazwisko <a asp-action="PrzekazaneDane" asp-route-id="@student.id" class="btn btn-primary">Wiek</a></li>
    }

</ul>

