@model IEnumerable<Lab3Buzowicz.Entities.ProduktEntity>
<h2>List of products</h2>
<form method="GET" class="form-inline mb-2">
<input type="text" name="name" placeholder="Filter by name" class="form-control" />
<button type="submit" class="btn btn-primary ml-2">Search</button>
</form>
<table class="table">