@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<alert Type="danger">This is my alert!</alert>

<vc:visible-students-list />

@{
    if (Model != null)
    {
        <span>@Model.imie</span>
<span>@Model.nazwisko</span>
<span>@Model.wiek</span>}
}