@{
    ViewData["Title"] = "Welcome";
}
<h2>Welcome</h2>
<ul>
    @for(int i = 0; i < (int)ViewData["NumTimes"]!; i++)
        {
            <li>@ViewData["Message"]</li>;
        }
</ul>
<table>
    <tr>
        <td>
            <form asp-action="Welcome2">
            <input type="submit" value="Welcome2" />
            </form>
        </td>
    </tr>
</table>
